*{
    margin: 0;
    padding: 0;
} 
.container{ 
     
     border: 5px solid goldenrod;
     
}

/*========***========
       HOME
 ========***========*/
.home{
   position: relative;
   height: 45vh;
   border: 2px solid blue;
   display: flex;
   justify-content: space-around;
   align-items: baseline;
   background: url(./images/banner2.jpg);
   background-repeat: no-repeat;

   background-position: center;
   object-fit: cover;
   
   
}

.items{
    display: flex;
}
.items li{
    list-style-type: none;
    padding: 0px  15px;
    color: rgb(131, 38, 38);
}
.banner_text{
    position: absolute;
    left: 20%;
    top: 40%;
    color: white;
}
/*========***========
       ABOUT  ME
 ========***========*/
 .about_Me{
     display: flex;
    
 }
 .aboutMe_left_text, .aboutMe_right_text{
    flex: 1;
    justify-content: space-between;
 }


/*========***========
      EDUCATION
 ========***========*/

 table, tr ,td{
     border: 1px solid black;
 }

 /*========***========
      Industrial Attachment
 ========***========*/

.industrial_Attachment{
    display: flex;
}

.industrial_left , .industrial_right{
    flex: 1;
}
 /*========***========
      work experince
 ========***========*/

.work_Expericence{
    display: flex;
}
.experince_left, .experince_right{
    flex: 1;
}